{% extends 'events/base.html' %} {% block content %}
<br><br>
<div class="card container" style="width: 80%;">
    <div class="card-body">


        {% if user.is_authenticated %}
        <h1>Add Event</h1>
        <br/><br/> {% if submitted %} Your Event Was Submitted Succefully!!! {% else %}

        <h2>Upload PDF</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        {% endif %}

        <br/><br/> {% else %}
        <h1>Sorry! You Must Be Logged In To View This Page...</h1>

        <a href="{% url 'login' %}">Login Here</a> {% endif %}
    </div>
</div>

{% endblock %}