{% extends 'events/base.html' %}{% block content %}
<br><br>
<div class="container d-flex flex-row justify-content-between">
    <div class="card" style="width: 60%;">
        <div class="card-body">

            <div class="col">
                <h3 class="card-title">Events This Month...</h3>

                {% if event_list %} {% for event in event_list %}
                <div class="card">
                    <div class="card-header">
                        {{ event }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Venue: {{ event.venue }}</h5>
                        <p class="card-text">
                            <ul>
                                <li>Date: {{ event.event_date }}</li>
                                <li>Venue Website: {{ event.venue.web }}</li>
                                <li>Manager: {{ event.manager }}</li>
                                <li>Description: {{ event.description }}</li>
                                <li>Attendees:<br/> {% for user in event.attendees.all %} {{ user }}<br/> {% endfor %}
                                </li>
                                {% if event.file %}
                                <li>Attached file - <a href="{{ event.file.url }}"> {{event.file.name|slice:"4:" }} </a><a href="{{ event.file.url }}" class="btn btn-outline-dark mx-3" download>Download </a> </li>{% endif %}
                            </ul>



                        </p>
                    </div>


                </div>
                {% if user.is_authenticated %} {% if user == event.manager %}
                <div class="card-footer text-muted">
                    <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
                    <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
                </div>
                {% endif %} {% elif not user.is_authenticated %} {% if user != event.manager %}
                <div class="card-footer text-muted">
                    <h5>By: {{ event.manager }}</h5>
                </div>
                {% endif %} {% endif %}
                <br/> {% endfor %} {% else %} Sorry...There are no events this month... {% endif %}

            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class=" d-flex flex-column justify-content-between" style="width: 30%; height: 20rem;">
        <div class="card">
            <div class="card-body">
                {% if time %}
                <h4 class="card-title">Hello {{user.last_name}} ,Events For {{ month }} {{ year }}</h4>
                As of {{ time }}
                <p class="card-text">{{ cal|safe }}</p>
                {% elif date %}
                <h4 class="card-title">Events On {{date}}</h4>
                {% else%}
                <h4 class="card-title">Events For {{ month }}/ {{ year }}</h4>
                {% endif %}




            </div>
        </div>
        <div class="card mt-3">
            <form method=POST class="d-flex">
                <span class="d-inline form-control form-control-sm">{% csrf_token %} {{ form.as_p }}</span>
                <button type="submit" class="d-inline h-3 btn btn-dark">search</button>
            </form>
        </div>
        <div class="card mt-3">
            <form method=POST class="d-flex">
                <span class="d-inline form-control form-control-sm">{% csrf_token %} {{ form2.as_p }}</span>

                <button type="submit" class="d-inline h-3 btn btn-dark">search</button>
            </form>
        </div>

    </div>
    {% elif not user.is_authenticated %}
    <div class=" d-flex flex-column justify-content-between " style="width: 30%; height: 20rem;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Events For {{ month }} {{ year }}</h4>
                As of {{ time }}

                <p class="card-text">{{ cal|safe }}</p>

            </div>
        </div>
        <div class="card mt-3">
            <form method=POST class="d-flex">
                <span class="d-inline form-control form-control-sm">{% csrf_token %} {{ form.as_p }}</span>

                <button type="submit" class="d-inline h-3 btn btn-dark">search</button>
            </form>
        </div>
        <div class="card mt-3">
            <form method=POST class="d-flex">
                <span class="d-inline form-control form-control-sm">{% csrf_token %} {{ form2.as_p }}</span>

                <button type="submit" class="d-inline h-3 btn btn-dark">search</button>
            </form>
        </div>

    </div>
    {% endif %}
</div>


<center>
    <br/><br/><br/><br/> Copyright (c) Christian Abiyingoma{{ current_year }}

</center>
{% endblock %}