{% extends 'events/base.html' %} {% block content %} {% if user.is_authenticated %}
<br><br>
<div class="card container" style="width: 80%;">
    <div class="card-body">
        <h1>Update Venue...</h1>
        <br/>
        <form action="" method=POST enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_p }}
            <br/>
            <input type="submit" value="Update" class="btn btn-secondary"> {% else %}
            <h1>Sorry! You Must Be Logged In To View This Page...</h1>

            <a href="{% url 'login' %}">Login Here</a> {% endif %}

        </form>
    </div>
</div>
{% endblock %}